/* Message Box */
.message-box {
	display: block;
  background: linear-gradient(to right, var(--blue2), var(--blue1));
	/* background-color: var(--green); */
	color: var(--color-gray-90);
	padding: 0.4em;
  border-radius: 6px;
  max-width: 560px;
  margin-bottom: 2em;
  margin-left:auto;
  margin-right:auto;
}
.message-box > * {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}
