/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

.see-all-tags {
  padding: 2em;
}
.all-tags-list {
  display: inline-flex;
  justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 2.5em 0;
}
.all-tags-item {
  margin: 6px 4px;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .44em;
	list-style-type: none;
	padding: 2.5em 0;
}
.tags {
  align-items: center;
}
