.icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 2em 0 0em 0;
}
.icons li {
  margin: 0 10px;
}
.footer-info {
  padding: 1em;
  font-size: 10pt;
  margin: 1em auto;
  text-align: center;
}
p.footer-p {
  margin-bottom: 5px;
}

#footer-logo {
  display: block;
  margin: 0 auto;
  max-width: 350px;
  padding: 3em 2em;
}