header {
	padding: 0em;
	display: flex;
  justify-content: space-between;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px dashed var(--color-gray-20);
	/* padding: 1em; */
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.nav {
	display: flex;
  justify-content: center;
	list-style: none;
}
.nav-item {
	padding: 4px;
	margin: 4px;
  text-transform: uppercase;
  font-size: 0.9em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
