.excerpt {
  font-style: italic;
  font-size: 10.7pt;
  padding: 6px 0 5px 0;
}
.postlist {
	list-style: none;
	padding: 1em;
}
.postlist-item {
  background-color: var(--light-bg);
  padding: 16px 12px;
	margin-bottom: 1.825em;
  box-shadow: 0px 0px 0px 1px var(--color-gray-20);
  transition: box-shadow 0.3s linear;
}
.postlist-item:hover {
  box-shadow: 0px 0px 0px 2px var(--color-gray-50);
}
.postlist-date,
.postlist-item:before {
	font-size: 0.85em;
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
  
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}