---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<div class="message-box">
  <h1 class='tc'>Archive</h1>
</div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
