---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged "{{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---
<div class="pt-1">
  <h2 class="badge tc"><i class="fa-solid fa-tags"></i> Tagged "{{ tag }}"</h2>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <div class="see-all-tags">
    <h4 class="tc"><i class="fa-solid fa-tags"></i> see <a href="/tags/">all tags</a></h4>
  </div>
</div>
