---
permalink: /tags/
layout: layouts/home.njk
---
<div class="pt-1">

  <h3 class="badge tc">All Tags</h3>

  <ul class='all-tags'>
  {% for tag in collections.all | getAllTags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
  {% endfor %}
  </ul>

</div>

