---
permalink: /tags/
layout: layouts/home.njk
---
<div class="pt-1">

  <h2 class="badge tc"><i class="fa-solid fa-tags"></i> All Tags</h2>

  <div class='all-tags-list'>
  {% for tag in collections.all | getAllTags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <span class="all-tags-item"><a href="{{ tagUrl }}" class="btn-tag">{{ tag }}</a></span>
  {% endfor %}
  </div>

</div>

