---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">
  <h2>Hello 11ty World</h2>
	
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>

{{ content | safe }}
